header {
    border: 2px solid red;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
footer {
    border: 2px solid red;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.content {
    border: 2px solid red;
    margin: 5px;
    padding: 5px;
}
