.buttonAuth{
    background-color: lightcoral;
    border: 0px;
}

.buttonAuth:hover{
    background-color: lightcoral;
    border: 0px;
}

.buttonAuth:active{
    background-color: lightcoral;
    border: 0px;
}

.back{
    text-align: center;
    margin-bottom: 5vw;
}

.form{
    margin-top: 6vw;
    margin-bottom: 6vw;
}

.radio-label input[type="radio"] {
    display: none;
}

.radio-label input[type="radio"]:checked + span {
    color: lightcoral; /* або будь-який інший колір */
    font-weight: bold;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: none; /* initially hidden */
}

#registrationTable td {
    padding: 8px 15px;
}

.b-table{
    display: none;
}
