.buttonAuth{
    background-color: lightcoral;
    border: 0px;
}

.buttonAuth:hover{
    background-color: lightcoral;
    border: 0px;
}

.buttonAuth:active{
    background-color: lightcoral;
    border: 0px;
}

.back{
    text-align: center;
    margin-bottom: 5vw;
}

.form{
    margin-top: 6vw;
    margin-bottom: 6vw;
}